#doc{
    margin-top:10px;
    float:left;
    padding-left: 60px; 
}
#content {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background-image: url('../picture/cartoon2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
  }
 